@import "../../lib/fragment/yo-dialog.scss";

@import "../../lib/ani/fade-in.scss";
@import "../../lib/ani/fade-out.scss";

.modal-wrap{
  > .yo-dialog{
    z-index: 1000;
  }
  .dialog{
    -webkit-animation-name: fade-out;
    animation-name: fade-out;
  }
  &.active .dialog{
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
  }
}
