@import "../../lib/fragment/yo-actionsheet.scss";

@import "../../lib/ani/fade-in-up.scss";
@import "../../lib/ani/fade-out-down.scss";

.modal-wrap{
  .action{
    -webkit-animation-name: fade-out-down;
    animation-name: fade-out-down;
  }
  &.active .action{
    -webkit-animation-name: fade-in-up;
    animation-name: fade-in-up;
  }
}
