@import "../../lib/ani/fade-in-left.scss";
@import "../../lib/ani/fade-out-left.scss";

.modal-wrap {
  .side {
    width: 70%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000;
    -webkit-animation-name: fade-out-left;
    animation-name: fade-out-left;

    .panel {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      background-color: white;
    }
  }

  &.active .side {
    -webkit-animation-name: fade-in-left;
    animation-name: fade-in-left;
  }
}
